
::-webkit-scrollbar{
  display: none;
}
@media only screen and (max-width: 600px) {
  #hideMobile{
    display: none;
  }

  #hideDesktop{
    display: block;
  }

  .hamburger{
    position: absolute;
    right: 0;
    padding: 5px;
    gap: 10px;
    top: 50%;
    transform: translate(0%,-50%);
  }

  .hamburger span{
    width: 90%;
    padding: 2px;
    background-color: black;
  }
  

  .products{
    display: flex;
    flex-direction: row;
    gap:25px;
    width: 95vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    overflow-x: scroll;
    
  }
  
  .products::-webkit-scrollbar{
    display: none;
  }
  .productCard{
  
    border: 1px black solid;
    padding: 1%;
  
  }
  
  .container{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
  
  }
  
  .productCard .content{
   display: grid;
   grid-template-columns: 1fr 1fr;
  }
  
  .navigation{
    background-color: blue;
    position: sticky;
    top:0;
    z-index: 1;
    
  }
  
  .navigation nav ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  
  .contentHeader{
    text-align: center;
    margin: 5vh;
    font-weight: bold;
    font-size: 2em;
  }
  
  .controls{
    right: 0;
    gap: 0px;
  
    position: absolute;
  }
  
  .caurosel{
  
    position: relative;
    background-color: red;
    height: 70vh;
    overflow-x: scroll;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100vw;
  }
  
  .caurosel::-webkit-scrollbar{
    display: none;
  }
  
  .caurosel .item{
  
    
    background-color: yellow;
    width: inherit;
    height: inherit;
    position: absolute;
    top:0;
  
  
  }
  
  
  .left{
     position: absolute;
     left: 0;
     top: 50%;
     transform: translate(0%,-50%);
     height: 10px;
     width: 10px;
     padding: 5px;
   
     background-color: black;
  }
  
  .right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%,-50%);
    height: 10px;
    width: 10px;
    padding: 5px;
  
    background-color: black;
  }
  .indicators{
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    left: 50%;
    transform: translate(-50%,0%);
    padding: 2px;
  
  
  }
  
  .indicators span{
    height: 10px;
    width: 10px;
    padding: 5px;
  
    background-color: black;
    border-radius: 50%;
  }
  
  .item{
    position: relative;
  }
  
  .item .media{
    background-color: red;
    height: 100%;
    z-index: 0;
   
  
  }
  
  .item .content{
    background-color: blue;
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 1;
  }
  
  .item .content .title{
    font-size: large;
    font-weight: bold;
  }

  .newProducts{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    left: 50%;
    gap: 5px;
    transform: translate(-50%,0%);
    width: 95vw;
  
  }

  .footerLayout{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
  }


  .searchBox{
    background-color: yellow;
    justify-content: center;
    align-items: center;
    height: 10vh;
    display: flex;
    flex-direction: row;
  }
  
  .searchBox input{
    position: static;
    left: 0%;
    top: 0%;
    transform: translate(0%,0%);
    padding: 1%;
    height: 2vh;
    width: 80vw;
    outline: none;
  
  }
  
  
  .productLayout .searchContent{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0%;
    gap: 5px;
    
  }
  .productLayout  .searchContent .filters{
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  display: none;

  }

  .productLayout  .searchContent .filters .controls{
    position: absolute;
    right: 0;
  }
  .productLayout .searchContent .filters form{
    padding: 1%;
    display: flex;
    flex-direction: column;
    }
  
  .filterBy{
  
    margin: 5px;
    font-weight: bold;
    font-size: 1.4em;
  
  }
  
  
  .productLayout  .searchContent .content{
    position: relative;
    background-color: brown;
    
   
  }
  .productLayout  .searchContent .content .controls{
    margin: 5px;
    position: relative;
    right: 0;
  }
  
  .productLayout  .searchContent .content .products{
  
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 1%;
  
    
  }

  .mobileNav{
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;

    height: 100%;
  }
  .mobileNav nav ul{
    flex-direction: column;
    
  }

  .mobileNav .controls{
    position: absolute;
    top:0;
    right: 0;
    padding: 5px;
  }


  .detailsLayout{
    position: relative;
    left: 50%;
    padding: 0%;
    transform: translate(-50%,0%);
    width: 100vw;
  }
  
  .detailsLayout .content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 10px;
  
  }
  
  .descriptions .name{
    font-size: 1.3em;
  }
  .descriptions .sizes{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .descriptions .sizes span{
    border: 1px solid;
    padding: 5px;
  }
  
  .addCart{
    border: 1px solid;
    padding: 5px;
  }
  .description{
  
    font-size: 1.2em;
  }


  
.cartLayout{
  position: relative;
  left: 50%;
  background-color: red;
  padding: 0%;
  transform: translate(-50%,0%);
  width: 100vw;
}

.cartItems{
  display: flex;
  flex-direction: column;
}

.cartItems .cartItem{
  grid-template-columns: 1fr 1fr;
}

.cartItem .content{
display: flex;
flex-direction: column;
gap: 5px;
}

.finish{
  margin: 5px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
gap: 5px;
}
.finish form{
  display: grid;
  gap: 10px;

}

.finish form input{
  width: inherit;
  padding: 3%;
  
}

.quantity{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.country{
  width: inherit;
  padding: 3%;
}

.default{
  height: 70vh;
}

.default .products{

  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 5px;
}

.checkoutLayout{
  width: 95vw;
}

.checkoutLayout .myCheckout{
  
  grid-template-columns: 1fr;
  padding: 1%;
}


.payment{
  padding: 1%;
}

.checkoutLayout .products{
  
  grid-template-columns: 1fr;
  }


}
